@model Elearn.Models.Lecture

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h2>Lecture: @Html.DisplayFor(model => model.Title)</h2>
    <h4>Playlist: @Html.DisplayFor(model => model.Playlist.Name)</h4>

    <div>
        
        <hr />
        <dl class="dl-horizontal">

            <video class="videoPlayer" width="600" height="350" controls   controlslist="nodownload" oncontextmenu="return false;">
                <source src="~/Videoes/@Model.VideoFile" />
            </video>

            <div class="widget">


               <h4>@Html.DisplayNameFor(model => model.Description):</h4> 
                 

                 
                 <p>@Html.DisplayFor(model => model.Description)</p>  
                

              </div>






</dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>
