@model Elearn.Models.Playlist
 

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <hr />
    <div class="text-center courseTitle"  >
     
            <h2 >Course:  @Html.DisplayFor(model => model.Name) </h2>
        
         
            <button type="button" class="btn btn-info btn-create"  data-toggle="modal" data-target="#myModal">Add Lecture</button>
      
    </div>
    

        <div class="widget">
            <h3>@Html.DisplayNameFor(model => model.Description): </h3>
            <p>@Html.DisplayFor(model => model.Description)</p>

           

        </div>

    <p>@Html.HiddenFor(model => model.Id, new {@class = "PlaylistId" })</p>

     
    <div class="widget">
        <h3>Contents:</h3>
        <ul>
           

            @foreach (var lecture in Model.Lectures)
            {
                    
                <div class="card" style="width: 100%">
                    <ul class="list-group ">

                        <li> <span class="glyphicon glyphicon-play"></span> 
                            @Html.ActionLink(@lecture.Title, "Details", "Lectures", new { id = lecture.Id }, null)
                        </li>
                    </ul>
                </div>
            }
        </ul>

    </div>
</div>
 
    

   

 
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" id="modalCotent">
       

    </div>
</div>



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>



@section scripts{
<script>

 
    $(".btn-create").click(function () {
        var id = $(".PlaylistId").val()
         
        $.ajax({
            url: "/Lectures/Create/" + id,
            method: "GET",
             success: function (result) {
                $("#modalCotent").html(result);
                $("#myModal").modal("show")
            }
        })
    })

    //$(document).on("click", ".Create-lecture", function () {

    //    $.ajax({
    //        url: "/Lectures/Create",
    //        method:"POST",

    //    })

    //}
    //    )



</script>



}


       


 